body {
    background-color: green;
    font-family: 'Times New Roman', Times, serif;
}

img {
    width: 100%;
}

.mycard {
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    width: 400px;
    text-align: center;
}

.mycard .profile {
    width: 100px;
    border-radius: 50%;
    margin-top: -50px;
}

.available {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.available li {
    width: 30px;
    display: inline-block;
    padding: 20px 10px;
}

.available li a img:hover {
    opacity: lightgreen;
    transition: opacity ease-in-out 0.2s;
}